<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'user/style.css' %}">
    </head>
    <body>
        <h2>Go and check your inbox.</h2>
        <p style="margin: 2rem;">We've sent you a link to reset your password. For further instructions, see the email.</p>
        <p class="note"> If you're having trouble, try sending one again:</p>
        <a class="white-btn" href="{% url 'user:reset_password' %}">Forgot password?</a>
    </body>
</html>
