<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'user/style.css' %}">
    </head>
    <body>
        <h2>Forgot your password?</h2>
        <p class="note">Enter your email address below (the one that you used to make your account), and we'll email instructions for setting a new one.</p>
        <form style="margin: 2rem;" method="post">
            {% csrf_token %}
            {% for field in form%}
                <p>{{field.label}} {{field}}</p>
                <ul>{{field.errors}}</ul>
            {% endfor %}
          <input class="btn" type="submit" value="Send email">
        </form>
    </body>
</html>
