<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'user/style.css' %}">
    </head>
    <body>
        {% if validlink %}
            <h2>Set your new password!</h2>
                <form style="margin: 2rem;" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                            {{ field.label }} {{ field }}
                        </p>
                        <ul>{{ field.errors }}</ul>
                    {% endfor %}
                    <input class="btn" style="margin-top: 1rem;" type="submit" value="Submit">
                </form>
        {% else %}
            <p>The password reset link was invalid, maybe because it has already been used.  Please request a new password reset.</p>
            <a class="white-btn" href="{% url 'user:reset_password' %}">Forgot password?</a>
        {% endif %}
    </body>
</html>
