h2 {
  padding-top: 24px;
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 101px;
  background-color: white;
  border-bottom: 1px solid;
  border-bottom-color: #c5c5c5;
  height: 50px;
  width: 100%;
  opacity: 0.8;
}

.note {
  color: gray;
  font-size: small;
}

ul {
  color: rgb(22, 76, 175);
  font-size: small;
}

.blue-btn {
  color: white;
  font-size: small;
  background-color: dodgerblue;
  padding: 8px 50px;
  text-decoration: none;
  border-radius: 50px;
}

.white-btn {
  color: black;
  font-size: small;
  padding: 8px 50px;
  text-decoration: none;
  border-radius: 50px;
  border: thin solid gray;
}

.black-btn {
  color: white;
  padding: 8px 50px;
  background-color: black;
  text-decoration: none;
  border-radius: 50px;
}

.btn {
  color: white;
  background-color: black;
  border: none;
  border-radius: 50px;
  padding: 13px 85px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: small;
}

.btn-white {
  background-color: white;
  border: thin solid gray;
  border-radius: 50px;
  padding: 12px 85px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: small;
}

.btn-blue {
  color: white;
  background-color: dodgerblue;
  border: none;
  border-radius: 50px;
  padding: 13px 85px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: small;
  transition-duration: 0.4s;
}

.btn-blue:hover {
  background-color: #89dcfd;
  color: white;
}

.index {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.index-img {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(230, 139, 65);
}

.index-content {
  position: relative;
  padding: 36px;
  min-width: 437px;
  max-width: 760px;
  width: 100%;
  margin-bottom: 80px;
}

.sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 1px solid;
  border-right-color: #c5c5c5;
}

.main {
  margin-left: 150px;
}

.sidenav a {
  padding: 8px 8px 6px 32px;
  display: block;
  text-align: center;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav img {
  width: 25px;
}

.profile {
  border-bottom: 1px solid;
  border-bottom-color: #c5c5c5;
  width: 70%;
  min-height: fit-content;
}

.prof-foot {
  margin-top: 100px;
  margin-left: 2rem;
  float: left;
}

.prof-head {
  margin-right: 30%;
  margin-top: -70px;
  float: right;
}

.follow-count {
  color: rgb(0, 65, 131);
  float: left;
  clear: both;
  display: flex;
  font-weight: bold;
}
.follow-count ul {
  float: left;
}

.bio{
  float:left;
  padding: 10px;
  clear: both;
  height: 10px;
  width: 70%;
  padding-bottom: 1rem;
}

.tweet {
  padding: 20px 20px 20px 20px;
  display: flex;
  width: 70%;
  border-bottom: 1px solid;
  border-bottom-color: #eeeeee;
}

.tweet:hover {
  background-color: #e0e0e03b;
  cursor: pointer;
}

.tweet-detail {
  padding: 20px 20px 20px 20px;
  display: flex;
  width: 70%;
  border-bottom: 1px solid;
  border-bottom-color: #eeeeee;
}

.prof-icon {
  width: 30px;
  height: 30px;
}

.prof-icon:hover {
  opacity: 0.3;
  cursor: pointer;
}

.prof-name {
  text-decoration: none;
  color: black;
}

.prof-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.prof-icon-lg {
  margin-top: 80px; 
  margin-right: 2rem; 
  float: left; 
  width: 70px; 
  height: 70px;
  border-radius: 80px;
}

.material-icon {
  width: 30px;
  height: 30px;
  padding: 10px 10px;
  opacity: 0.8;
}
.material-icon:hover {
  opacity: 0.3;
  cursor: pointer;
}

.tweet-body {
  width: 100%;
  clear: both;
  color: black;
  padding: 10px;
  padding-bottom: 20px;
}

.tweet-body img {
  max-width: 50%;
  margin: 10px;
}

.tweet-footer {
  margin-top: 2rem;
}

.account-list {
  padding-top: 110px;
}

.follow {
  width: 70%;
  margin-top: -15px;
}
.follow h3 {
  margin-left: 10%;
  float: left;
}
.follow a {
  text-decoration: none;
}

.here {
  color: rgb(0, 0, 0);
  border-bottom: 3px solid;
  border-bottom-color: dodgerblue;
}

.alert {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  color: #555;
}

@media (max-width: 880px), screen and (orientation: portrait) {
  .index {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .index-img {
    position: relative;
    margin-right: 2rem;
    width: 100%;
    height: auto;
  }
  .index-content {
    position: relative;
    justify-content: center;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    min-width: 350px;
    max-width: 500px;
    width: 100%;
  }
}
