{% extends "base_home.html" %}
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'user/style.css' %}">
    </head>
    <body>
        {% block content %}
        <h2>Tweet</h2>
        <div style="clear: both;">
            <img src="https://freesvg.org/img/abstract-user-flat-4.png" style="width: 60px; float: left;">
            <h2 style="float: left; margin-left:1rem; margin-top: -10px;">{{ user }}</h2>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            <div style="margin: 2rem; clear:both;">
                {% csrf_token %}
                {% for field in form%}{% if field.label != 'User' %}
                    <p>{{field.label}}</p>
                    {{field}}
                    <ul>{{field.errors}}</ul>
                {% endif %}{% endfor %}
            </div>
            <input class="btn-blue" type="submit" value="Tweet">
        </form>
        {% endblock content %}
    </body>
</html>
