{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'user/style.css' %}">

<body>
  <h2>You'll need a password</h2>
  <p class="note">Make sure it's 8 characters or more.</p>
  <form method="post" novalidate>
    <div>
      {% csrf_token %}
      {% for field in form %} 
      {% if field != form.password1 and field != form.password2 %}
        {{ field.as_hidden}}
      {% else %}
        <p>
          <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
          {{ field }}
          <ul>{{ field.errors }}</ul>
        </p>
      {% endif %}{% endfor %}
    </div>
    <input type="submit" value="Next">
  </form>
  <form action="{% url 'signup:signup' %}" method="GET">
    <button type="submit">Back</button>
  </form>
</body>