<html>
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/style.css' %}">
  </head>
  <body>
    <h2>Create your account</h2>
    <form method="post">
      {% csrf_token %}
      <div>
        {% for field in form %}
        <p>
          <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
          {{ field }}
        </p>
        <ul>{{ field.errors }}</ul>
        {% endfor %}
        <p class="note">Phone number is optional.</p>
        <p class="note">Birthdays will not be shown publicly. Confirm your own age, even if this account is for a business, a pet, or something else</p>
      </div>
      <input type="submit" value="Next">
    </form>
  </body>
</html>
